.sv-a {
	text-decoration: none;
}

#employee-portlet {
	width: 750px;
}

.container .panel .panel-heading {
	background-color: #31708f;
}

.container .panel .panel-heading .panel-title {
	color: #d9edf7;
	text-align: center;
}

.container .panel {
	border-color: #31708f;
}

.employee-error {
	color: red;
}