.sv-a {
	text-decoration: none;
}

#employee-portlet {
	width: 750px;
}

#chart-portlet {
	width: 700px;
}

#chart-portlet .panel-body {
	text-align: center;
}

.container .panel .panel-heading {
	background-color: #31708f;
}

.container .panel .panel-heading .panel-title {
	color: #ffffff;
	text-align: center;
}

.container .panel {
	border-color: #31708f;
}

.employee-error {
	color: red;
}

.select-chart {
	margin: 10px;
}
