#parse("head.vm")

<div id="chart-portlet" class="container container-emp">
	<div class="panel panel-info">
        <div class="panel-heading">
			<h3 class="panel-title">Chart</h3>
		</div>
		<div class="panel-body">
			<div id="chartArea">
				<canvas id="chartEmployee" width="400" height="400"></canvas>
			</div>
			<div>
					<div class="row">
						<div class="col-md-3 col-md-offset-4">
							<select name="stats" class="form-control select-chart">
								<option value="HR">HR</option>
								<option value="Dev">Dev</option>
								<option value="Both">Both</option>
							</select>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>