<form action="$configUrl" method="post">
<input type="radio" name="mode" value="HR" checked>HR management</input>
<br>
<input type="radio" name="mode" value="Dev">Dev teams management</input>
</form> 