#set ( $cPath = $request.getContextPath() )
<head>
<link href="${cPath}/css/main.css" rel="stylesheet">
<script src="${cPath}/js/jquery-1.11.2.min.js"></script>
<script src="${cPath}/js/main.js"></script>
</head>