#set ( $cPath = $request.getContextPath() )
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="${cPath}/css/main.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- <script src="https://oss.maxcdn.com/chart.js/1.0.1/Chart.min.js"></script> -->
<script src="${cPath}/js/ChartNew.js"></script>
<script src="${cPath}/js/main.js"></script>
</head>