#parse("head.vm")

<div class="portlet cities">
<h3>Niteco cities</h3>

#if ($mode.equals("add"))
<form action="$insertCityUrl" method="post">
#elseif ($mode.equals("edit"))
<form action="$updateCityUrl" method="post">
#else
<form action="$showAddUrl" method="post">
#end
	#if ($cities)
	<table class="table-portlet">
		<tr>
			<th>Id</th>
			<th>City name</th>			
			<th>Actions</th>
		</tr>
		#foreach ($city in $cities)
		<tr>
			#if ($mode.equals("edit") && $idEdit == $city.cityId)
			<td><input name="idUpdate" value="$city.cityId" readonly class="id-city-input" /></td>
			<td><input name="nameUpdate" value="$city.cityName" class="name-city-input" /></td>
			<td>
				<input type="submit" value="Update" />
				<a href="$cancelUrl" >Cancel</a>
			</td>
			#else
			<td>$city.cityId</td>
			<td>$city.cityName</td>
			<td>
				#if ($mode.equals("view"))
				#set( $editCity = $editUrl + "&cityId=" + $city.cityId )
                #set( $removeCity = $removeUrl + "&cityId=" + $city.cityId) 
                <a href="$editCity" class="button">Edit</a>
                <a href="$removeCity" class="button" onclick="return confirm('Are you sure to delete this city ?')" >Delete</a>
                #end
			</td>
			#end
		</tr>
		#end
		#if ($mode.equals("add"))
		<tr>
			<td><input name="addId" value="$idNew" readonly class="id-city-input" /></td>
			<td><input name="addName" class="name-city-input" /></td>
			<td>
				<input type="submit" value="Add" />
				<a href="$cancelUrl" class="button" >Cancel</a>
			</td>
		</tr>	
		#end
	</table>
	#end
	#if ($mode.equals("view"))
	<input type="submit" value="Add city" />
	#end
</form>
</div>