#parse("head.vm")

<div class="portlet employees">
#if ($mode.equals("HR"))
<h3>HR employees</h3>
#else
<h3>Dev employees</h3>
#end

<form action="$showAddUrl" method="post">
	#if ($employees)
	<table class="table-portlet">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Team</th>
			<th>Role</th>
			<th>Salary</th>
			<th>Age</th>
			<th>Actions</th>
		</tr>
		#foreach ($employee in $employees)
		<tr>
			<td>$employee.id</td>
			<td>$employee.name</td>
			<td>$employee.email</td>
			<td>$employee.team</td>
			<td>$employee.role</td>
			<td>$employee.salary</td>
			<td>$employee.age</td>
			<td>
				#set( $editEmployee = $editUrl + "&employeeId=" + $employee.id )
                #set( $removeEmployee = $removeUrl + "&employeeId=" + $employee.id) 
                <a href="$editEmployee" class="button">Edit</a>
                <a href="$removeEmployee" class="button" onclick="return confirm('Are you sure to delete this employee ?')" >Delete</a>
			</td>
		</tr>
		#end
	</table>
	#end
	<input type="submit" value="Add employee" />
</form>
</div>